body {
	background-color: #ddd;
}

header {
	background-color: blue;
	position: absolute;
	height: 150px;
	width: 900px;
	top: 0px;
	left: 0px;
	display: block;
}

main {
	background-color: grey;
	position: absolute;
	height: auto;
	width: 900px;
	top: 150px;
	left: 0px;
	display: block;
}

main .sidepanel {
	background-color: red;
	position: absolute;
	height: auto;
	width: 300px;
	top: 0px;
	left: 0px;
	display: inline;
}

main .workarea {
	position: absolute;
	height: auto;
	width: 600px;
	top: 0px;
	left: 300px;
	display: inline;
}

#inputs {
	position: absolute;
	height: auto;
	width: 300px;
	top: 0px;
	left: 0px;
	display: inline;
	background-color: green;
}

#outputs {
	position: absolute;
	height: auto;
	width: 300px;
	top: 0px;
	left: 300px;
	display: inline;
	background-color: yellow;
}