body {
	background-color: #ddd;
}

header {
	background-color: blue;
	position: absolute;
	height: 150px;
	width: 1300px;
	top: 0px;
	left: 0px;
	display: block;
}

main {
	background-color: grey;
	position: absolute;
	height: auto;
	width: 1300px;
	top: 150px;
	left: 0px;
	display: block;
}

main .sidepanel {
	background-color: red;
	position: absolute;
	height: auto;
	width: 300px;
	top: 0px;
	left: 0px;
	display: inline;
}

main .workarea {
	position: absolute;
	height: auto;
	width: 1000px;
	top: 0px;
	left: 300px;
	display: inline;
}

#panelContainment {
	left: 0px;
	border-width: 2px;
	border-color: red;
	border-style: solid;
}


/*
Specifically, these are for the drag and drop options given
*/

.node:before {
	content: attr(title) " ";
	display: block;
	border-top-left-radius: .75em;
	border-top-right-radius: .75em;
	background-color: #135d9c;
	padding: 0.1em 2em 0.4em;
	margin: -.1em -0.7em 0.5em;
	width: 1e;
}

.node {
	color: #d4d4d4;
	background-color: #2e2e2e;
	font-size: 12px;
	border-radius: .75em;
	display: inline-block;
	padding: 0.1em .7em .25em;
	position: relative;
	user-select: none;
}

.node:focus {
    outline: 1px solid blue;
}

.input,
.connection:after {
	position: absolute;
	border: solid 1px #dedede;
	background-color: #2e2e2e;
	width: 0.5em;
	height: 0.5em;
	border-radius: 0.5em;
}

.node.connected>.input,
.connection.filled:after {
	border: solid 1px transparent;
	background-color: #aeaeae;
}

.node>.input:hover,
.connection:hover:after {
	border-color: red;
}

.input {
	left: .5em;
	top: .5em;
	cursor: pointer;
}

.connection {
	width: 95%;
	position: relative;
	padding-left: 1.5em;
	cursor: pointer;
}

.connection:after {
	content: "";
	right: 1em;
	top: 0.25em;
}

svg {
	position: absolute;
	top: -150px;
	left: -300px;
	z-index: -100;
	width: 1300px;
	height: 1150px;
}